.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 12px;
}

.form__input{
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-color: #838383;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
}

.form__input::placeholder {
  text-indent: 15px;
}

.form__button {
  overflow: visible;
  width: 100%;
  padding:0;
  border: none;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  background-color: #2F80ED;
  color: #fff;
  transition: background-color 0.5s ease, opacity 0.5s ease
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

input[type="text"]{
  padding: 0 15px 0 ;
  color: #000000;
}

input[type="number"]{
  padding: 0 15px 0 ;
  color: #000000;
}

input[type="email"]{
  padding: 0 15px 0 ;
  color: #000000;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__checkbox_visible {
  background-color: #fff;
  border: 2px solid #838383;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  position: relative;
  right: 12px;
}

input[type="checkbox"]:checked {
  background-image: url("../images/check.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2F80ED;
  position: relative;
  right: 12px;
}

input[type="datetime-local"] {
  padding: 0 15px 0 ;
  color: #000000;
}